<div class=" sn:p-2 ">
    <h1 class="text-4xl">
        <% if current_page? "/updates/find/all" %>
            Все новости
        <% else %>
            Поиск новости по заголовку: <%= params[:search]%>
        <% end %>
    </h1>
    <div class="grid md:grid-cols-3 lg:grid-cols-3 md:gap-4 lg:gap-4">


    </div>
</div>

